<div class="main-container">
  <h2>Records list</h2>

  <div class="options-paginator-container">
    <mat-button-toggle-group id="record-filter-options"
      [value]="'all'"
      (change)="selectedOptionChange($event)"
      name="favoriteColor" aria-label="Favorite Color">
      <mat-button-toggle value="all">All</mat-button-toggle>
      <mat-button-toggle value="node">Node</mat-button-toggle>
      <mat-button-toggle value="node_plus_children">Node + Children</mat-button-toggle>
    </mat-button-toggle-group>

    <mat-paginator [length]="recordsLength()" #paginator
      [pageSize]="10"
      [pageSizeOptions]="[25, 50, 100]"
      (page)="paginationParamsChanged($event)"
      aria-label="Select page">
    </mat-paginator>
  </div>
  <div class="list-part">
    @if (recordsResponse()?.items; as records) {
      <div>
        @for (item of records; track item) {
          <div class="record-item">
            <div class="record-message">{{item.message}}</div>
            <div class="record-date">{{item.date}}</div>
          </div>
        }
      </div>
    } @else {
      <mat-spinner></mat-spinner>
    }
  </div>
</div>
