.record-item
  margin-bottom: 2rem
  background: gray
  border-radius: 2px
  width: 50%
  display: flex
  flex-flow: column

.record-message
  margin-left: 1rem
  white-space: pre-wrap

.record-date
  align-self: flex-end
  opacity: .5

#record-filter-options
  margin-bottom: 2rem
  width: 15rem // find out why it grows


.main-container
  width: 100%


.options-paginator-container
  display: flex
  justify-content: space-between
