#table-wrapper
  max-width: 30rem
  display: flex
  align-items: flex-start


#problems-table
  margin-left: 2rem
  margin-bottom: 2rem

#problems-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

.row-link
  cursor: pointer

.mat-column-select
  width: 2rem

.mat-column-position
  padding-right: 1rem

.mat-column-actions
  padding-left: 2rem

#problems-title
  padding-right: 1rem

#add-problem-button
  margin-right: 1rem

.mat-row, .table-row
  height: .5rem !important
  min-height: .5rem !important

.mat-mdc-row
  height: 1rem

.red-color
  color: red

.mat-header-row
  height: 40px

#subtasks-of-selected-tasks
  display: flex
  flex-flow: column nowrap
  margin-left: 1rem

@media (max-width: 960px)
  #problems-actions
    margin-left: 1rem

  #problems-table
    margin-left: 2rem
    max-width: calc(100% - 2rem)

  #table-wrapper
    max-width: 100%
