\:host
  margin-bottom: 1rem

$first-columns-width: 3.5rem


#subepics-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

.row-link
  cursor: pointer

.mat-column-select
  width: 2rem

.mat-column-position
  padding-right: 1rem
  max-width: $first-columns-width

.mat-column-actions
  padding-left: 2rem

#subepics-title
  padding-right: 1rem

#add-epic-button
  margin-right: 1rem

.mat-row, .table-row
  height: .5rem !important
  min-height: .5rem !important

#done-all-epics-button
  margin-left: 2rem

.mat-row, .table-row
  height: 2rem !important

#table-wrapper
  //display: flex
  align-items: flex-start
  max-width: 30rem
  margin-left: 2rem


#epics-paginator
  margin-top: 1rem
  box-shadow: 0px 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12)

.mat-mdc-row
  height: 1rem
