$first-columns-width: 3.5rem

#subtasks-task-container-title
  margin-left: 3rem
  cursor: pointer
  min-width: 20rem

#subtasks-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

#subtasks-table
  margin-left: 2rem
  margin-bottom: 2rem
  max-width: 30rem

.row-link
  cursor: pointer

.mat-column-select
  max-width: $first-columns-width

.mat-column-position
  max-width: $first-columns-width

.mat-column-description
  min-width: 13rem

.mat-column-actions
  max-width: 7rem

.mat-column-showSubtasks
  max-width: 7rem

.mat-mdc-row
  height: 1rem

#subtasks-title
  padding-right: 1rem

#add-task-button
  // margin-right: 1rem
  margin-left: 1rem

.mat-row,  .table-row
  height: 2rem !important
  max-height: 2rem !important

.finish-tasks-button
  margin-left: 2rem

.mat-header-row
  height: 40px

.highlight
  background: #FF4081

#subtasks-of-selected-tasks
  display: flex
  flex-flow: column nowrap
  margin-left: 1rem

.selected-for-subtasks
  border: 1px solid yellow

#table-wrapper
  display: flex
  align-items: flex-start
  max-width: 30rem

