<h1 id="new-knowledge-title" mat-dialog-title>New Knowledge</h1>
<form autocomplete="on" [formGroup]="myForm" (ngSubmit)="onSubmit()" >
  <mat-form-field appearance="fill" id="name-field" >
    <mat-label>Name</mat-label>
    <input id="name-input"  matInput formControlName="name">
  </mat-form-field>
  <br>
  <mat-form-field appearance="fill" id="extension">
    <mat-label>Extension</mat-label>
    <input matInput formControlName="extension">
  </mat-form-field>
  <br>

  <mat-form-field [style.fontSize]="16"  id="value-input" appearance="fill">
    <mat-label>Value</mat-label>
    <textarea matInput
              cdkTextareaAutosize
              formControlName="value"
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="10"
              cdkAutosizeMaxRows="50"></textarea>
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
    <button mat-button type="submit" [disabled]="!myForm.valid">Ok</button>
  </div>
</form>
