#definitions-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

#definitions-table
  margin-left: 2rem
  margin-bottom: 2rem
  margin-right: 2rem

.row-link
  cursor: pointer

.mat-column-select
  width: 2rem

.mat-column-position
  padding-right: 1rem

.mat-column-value
  padding-left: 2rem

#definitions-title
  padding-right: 1rem
  color: #f3a166

#add-definition-button
  margin-right: 1rem

.mat-row, .table-row
  height: 2rem !important

.mat-header-row
  height: 40px

//.mat-row, .table-row
  //height: .5rem !important
  //min-height: .5rem !important

#done-all-definitions-button
  margin-left: 2rem

