#table-wrapper
  max-width: 30rem
  display: flex
  align-items: flex-start

.mat-mdc-row
  height: 1rem

#questions-table
  margin-left: 2rem
  margin-bottom: 2rem

#questions-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

.row-link
  cursor: pointer

.mat-column-select
  width: 2rem

.mat-column-position
  padding-right: 1rem

.mat-column-actions
  padding-left: 2rem

#questions-title
  padding-right: 1rem

#add-question-button
  margin-right: 1rem

.mat-row, .table-row
  height: .5rem !important
  min-height: .5rem !important

.red-color
  //color: red
  color: 	#C4B454

.mat-header-row
  height: 40px

#subtasks-of-selected-tasks
  display: flex
  flex-flow: column nowrap
  margin-left: 1rem
