#subtasks-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

#subtasks-table
  margin-left: 2rem
  margin-bottom: 2rem

.row-link
  cursor: pointer

.mat-column-select
  width: 2rem

.mat-column-position
  padding-right: 1rem

.mat-column-actions
  padding-left: 2rem

#subtasks-title
  padding-right: 1rem

#add-task-button
  margin-right: 1rem

#subtask-list-button
  margin-left: 1rem

.mat-row,  .table-row
  height: 1rem !important
  max-height: 1rem !important

#done-all-tasks-button
  margin-left: 2rem

.mat-header-row
  height: 40px

.highlight
  background: #FF4081

#subtasks-table-wrapper
  display: flex

#subtasks-of-selected-task
  display: flex
  flex-flow: column nowrap

#add-subtask-button
  align-self: flex-end
  margin-right: 1rem
  margin-bottom: .5rem

#subtasks-of-selected-task-table
  margin-left: 1rem
