<h3 style="margin-left: 3rem" *ngIf="showTitle">{{taskContainer.getFullDescription()}}</h3>
<div *ngIf="subtasks && subtasks.length > 0" id="outer-container"
  style="display: flex; flex-flow: row nowrap"
>
  <div id="left-table">
    <div id="subtasks-actions">
      <h2 id="subtasks-title">Tasks</h2>
      <button mat-mini-fab color="primary" id="add-task-button" (click)="addSubtask.emit()">
        <mat-icon class="tasks-icon">add</mat-icon>
      </button>

      <button mat-mini-fab color="primary" [disabled]="!this.selection.hasValue()" (click)="onFinishTasksClick()">
        <mat-icon class="tasks-icon">done</mat-icon>
      </button>

      <button mat-mini-fab color="primary" [disabled]="this.subtasks?.length === 0"
              id="done-all-tasks-button" (click)="onFinishAllTasksClick()">
        <mat-icon class="tasks-icon">done_outline</mat-icon>
      </button>

      <button mat-mini-fab color="accent" id="subtask-list-button" *ngIf="!selectedSubtask"
              [disabled]="!this.selection.hasValue() || this.selection.selected.length > 1"
              (click)="onSubtaskListClick()">
        <mat-icon class="tasks-icon">view_list</mat-icon>
      </button>
      <button mat-mini-fab color="accent" id="subtask-cancel-button" *ngIf="selectedSubtask"
              (click)="unselectSelectedSubtask()">
        <mat-icon class="tasks-icon">close</mat-icon>
      </button>

    </div>

    <div id="subtasks-table-wrapper">
    <table id="subtasks-table" mat-table [dataSource]="subtasks"
           class="mat-elevation-z8">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? masterToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()">
          </mat-checkbox>
        </th>

        <td mat-cell *matCellDef="let row; let i = index" [ngClass]="{'highlight': selection.selected.includes(row)}">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell class="row-link" [ngClass]="{'highlight': selection.selected.includes(subtask)}"
            (click)="onSubtaskClick(subtask)" *matCellDef="let subtask; let i = index">
          <span>{{i + 1}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell  *matCellDef="let subtask;" (click)="onSubtaskClick(subtask)"
            [ngClass]="{'highlight': selection.selected.includes(subtask)}"
        >
          <span class="row-link" (click)="onSubtaskClick(subtask)">{{subtask.description}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let subtask; let i=index" id="row-{{i}}" class="row-link"
            [ngClass]="{'highlight': selection.selected.includes(subtask)}">
          <mat-icon (click)="onSubtaskDoneClick.emit(subtask)">done</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

  </div>
  </div>

  <div  id="subtasks-of-selected-task" *ngIf="showSelectedSubtask">
    <app-subtasks (refreshSubtasks)="refreshTasksOfSelectedSubtask()"
                  [showTitle]="true"
                  [level]="level + 1"
                  (addSubtask)="addTaskOfSelectedSubtask()"
                  (onSubtaskDoneClick)="onTaskOfSelectedSubtaskDoneClick($event)"
                  [taskContainer]="selectedSubtask"
                  [subtasks]="tasksOfSelectedSubtask">
    </app-subtasks>
  </div>
</div>

