<ng-container *ngIf="actions?.length > 0">

  <div id="actions-actions">
    <h2 id="actions-title">Actions</h2>
    <button mat-mini-fab color="primary" id="add-action-button" (click)="addAction.emit()">
      <mat-icon class="actions-icon">add</mat-icon>
    </button>

  </div>

  <table id="actions-table" *ngIf="actions && actions.length > 0" mat-table
         [dataSource]="actions"
         class="mat-elevation-z8">

    <ng-container matColumnDef="select">
      <th mat-header-cell *matHeaderCellDef>
        <mat-checkbox [disabled]="true" (change)="$event ? onMainCheckboxClick() : null"
                      [checked]="selection.hasValue() && isAllSelected()"
                      [indeterminate]="selection.hasValue() && !isAllSelected()">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row">
        <mat-checkbox (click)="$event.stopPropagation()"
                      (change)="$event ? selection.toggle(row) : null"
                      [checked]="selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <!-- Position Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell class="row-link" (click)="onActionClick(action)" *matCellDef="let action; let i = index">
        <span>{{i + 1}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name</th>
      <td mat-cell *matCellDef="let action;" (click)="onActionClick(action)">
        <span class="row-link"  (click)="onActionClick(action)">{{action.name}}</span>
      </td>
    </ng-container>

    <!-- Values Column -->
    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Values</th>
      <td mat-cell *matCellDef="let action;" (click)="onActionClick(action)">
        <span class="row-link"  (click)="onActionClick(action)">
          {{action.value.split('\n')[0]}}{{action.value.split('\n').length > 1 ? '...' : ''}}
        </span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</ng-container>
