#knowledge-bits-root
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

#knowledge-bits-table
  margin-left: 2rem
  margin-bottom: 2rem

.row-link
  cursor: pointer

.mat-column-select
  width: 2rem

.mat-column-position
  padding-right: 1rem

.mat-column-value
  padding-left: 2rem

#knowledge-bits-title
  padding-right: 1rem
  //color: #fed766
  color: #ccaa44

#add-knowledge-button
  margin-right: 1rem

.mat-row, .table-row
//height: .5rem !important
//min-height: .5rem !important

#done-all-knowledges-button
  margin-left: 2rem

