@if ( notes() || editValue() ) {
  <div id="knowledge-value">
    <mat-form-field appearance="fill" class="notes-field" [style.fontSize]="'16px'">
      <mat-label>Notes</mat-label>
      <textarea matInput
                cdkTextareaAutosize
                (focusout)="updateNotesValue()"
                (focusin)="onFocusIn()"
                [ngModel]="notes()"
                #valueText
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="30"></textarea>
    </mat-form-field>
  </div>
}
