#content-wrapper
  display: flex
  flex-flow: row nowrap
  margin-top: 1rem

#definition-content
  margin-right: 2rem
  width: calc(100% - 50rem)

  #description-line
    margin-bottom: 2rem

    #save-icon
      margin-left: 2rem

    #more-icon
      margin-left: 1rem

  #definition-value
    margin-top: 1rem
    margin-left: 5rem

#value-wrapper
  border: 1px solid red
  padding: 5px
  white-space: pre-wrap

#definition-value-input
  width: 100%


