<mat-toolbar color="primary">

  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <div style="display: flex; align-items: baseline;">
    <span>Task Manager vGo</span>
    <button id="task-button" style="border-color: gray" mat-stroked-button (click)="onNavToClick()">Navigate</button>
    <button mat-stroked-button style="margin-left: 1rem; border-color: gray;" (click)="onLogsClick()" >Logs</button>
  </div>
  <span class="example-spacer"></span>

  @if(showUntilValue) {
    <div
      style="margin-right: 3rem"
      (click)="onUntilValueClick()"
      [class.shining-text]="doneTasks >= doneTasksUntilValue"
      [style.color]="doneTasks >= doneTasksUntilValue ? 'red' : undefined"
    >{{doneTasksUntilValue}}</div>
  }
  <div style="padding-right: 5rem">{{doneTasks}}</div>

<!--  <ngx-mat-timepicker #picker></ngx-mat-timepicker>-->
  <mat-form-field appearance="outline">
    <mat-label>Время и дата</mat-label>
    <input
      matInput
      placeholder="12:30 31-12-2024"
      mask="00:00 00-00-0000"
      [showMaskTyped]="true"
      [dropSpecialCharacters]="false"
      [(ngModel)]="meetingDateTime"
    >
    <mat-icon matSuffix>schedule</mat-icon>
    <mat-hint>Формат: ЧЧ:ММ ДД-ММ-ГГГГ</mat-hint>
  </mat-form-field>
  {{meetingDateTime}}

</mat-toolbar>
