<mat-toolbar color="primary">

  <button mat-button class="sidenav-toggle" (click)="toggleSidenav.emit()">
    <mat-icon>menu</mat-icon>
  </button>

  <div style="display: flex; align-items: baseline;">
    <span>Task Manager vGo</span>
    <button id="task-button" style="border-color: gray" mat-stroked-button (click)="onNavToClick()">Navigate</button>
    <button mat-stroked-button style="margin-left: 1rem; border-color: gray;" (click)="onLogsClick()">Logs</button>
    <button mat-stroked-button style="margin-left: 1rem; border-color: gray;" (click)="onDirectionsClick()">Directions</button>
    <button mat-stroked-button style="margin-left: 1rem; border-color: gray;" (click)="onLongTasksClick()">Long Tasks</button>
    <button mat-stroked-button style="margin-left: 1rem; border-color: gray;" (click)="onEpicsClick()">Epics</button>

  </div>
  <span class="example-spacer"></span>

  @if(showUntilValue()) {
    <button
      type="button"
      class="toolbar-interactive"
      style="margin-right: 3rem"
      (click)="onUntilValueClick()"
      [class.shining-text]="doneTasks() >= doneTasksUntilValue()"
      [style.color]="doneTasks() >= doneTasksUntilValue() ? 'red' : undefined"
    >
      {{doneTasksUntilValue()}}
    </button>
  }
  <button
    type="button"
    id="doneTasksButton"
    class="toolbar-interactive"
    style="padding-right: 5rem"
    (click)="openGetDatetimeDialog()"
  >{{doneTasks()}}</button>

</mat-toolbar>
