\:host
  margin-bottom: 1rem

#substories-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

#substories-table
  margin-left: 2rem
  margin-bottom: 2rem

.row-link
  cursor: pointer

.mat-column-select
  width: 2rem

.mat-mdc-row
  height: 1rem

.mat-column-position
  padding-right: 1rem

#substories-title
  padding-right: 1rem

#add-story-button
  margin-right: 1rem

.mat-row, .table-row
  height: 2rem !important
  min-height: 2rem !important

#table-wrapper
  max-width: 30rem

@media (max-width: 960px)
  #substories-actions
    margin-left: 1rem
    padding-right: 1rem

  #substories-table
    margin-left: 2rem
    max-width: calc(100% - 3rem)
    box-sizing: border-box

  #table-wrapper
    max-width: 100%
    padding-right: 1rem
    box-sizing: border-box
