.requirements-header
  display: flex
  align-items: center
  margin-top: 1rem
  margin-bottom: 0.5rem

.requirements-title
  font-size: 1.25rem

.add-requirement-button
  margin-left: 1rem

.requirements-table
  max-width: 30rem

.row-link
  cursor: pointer
