#content-wrapper
  display: flex
  flex-flow: row nowrap
  margin-top: 1rem
  width: 100%

  #task-content
    margin-right: 2rem
    width: 100%

.description-wrapper
  display: flex
  justify-content: center


#more-icon
  margin-left: 1rem

#notes-wrapper, #ng-content-wrapper
  margin-left: 4rem
  margin-bottom: 2rem

#notes-wrapper
  margin-top: 2rem

#description-line
  display: flex
  align-items: baseline

#full-description-title
  margin-left: 1rem
  margin-bottom: 0 !important
  font-size: 28px
  font-weight: 700

#done-all-button
  margin-left: 3rem

#go-to-parent-button
  margin-left: 2rem

#parents-path
  margin-left: 5rem
