.notes-content
  font-size: 16px
  font-family: Roboto, "Helvetica Neue", sans-serif

#notes-textarea
  width: 100%

#value-wrapper
  background: white
  //border: 1px solid brown
  padding-bottom: 2rem
