<div id="content-wrapper">
  <div id="epic-content">
    <app-task-container-description
      (goToParent)="onGoToNearseParent()" [showDoneAll]="false"
      [taskContainer]="epic">
    </app-task-container-description>
    <br>


    <app-subtasks (refreshSubtasks)="refreshSubtasks()"
                  (addSubtask)="addSubtask()"
                  (onSubtaskDoneClick)="onSubtaskDoneClick($event)"
                  [subtasks]="subtasks"></app-subtasks>

  </div>
  <app-parents-path [parentsPath]="parentsPath"
                    (onParentClick)="onParentClick($event)"
  ></app-parents-path>
</div>
