<div id="content-wrapper">
  <div id="epic-content">
    <app-task-container-description
      (goToParent)="onGoToNearseParent()" [showDoneAll]="false"
      [taskContainer]="epic">
    </app-task-container-description>
    <br>


    <app-substories [stories]="stories" (onStoryClick)="navigateToStory($event)"
                    (addSubstory)="addSubstory()">

    </app-substories>


    <app-subtasks (refreshSubtasks)="refreshSubtasks()"
                  (addSubtask)="addSubtask()"
                  (onSubtaskDoneClick)="onSubtaskDoneClick($event)"
                  [subtasks]="subtasks">
    </app-subtasks>
    <app-subproblems (refreshProblems)="refreshProblems()"
                     (addProblem)="addProblem()"
                     (onProblemSolvedClick)="solveTheProblem($event)"
                     [problems]="problems">
    </app-subproblems>

  </div>
  <app-parents-path [parentsPath]="parentsPath"
                    (onParentClick)="goToParentHandler($event)">
  </app-parents-path>
</div>
