#parents-path-container
  padding-bottom: 2rem

#full-description-title
  margin-left: 2rem
  margin-bottom: 0 !important

#content-wrapper
  display: flex
  flex-flow: row nowrap
  margin-top: 1rem

#epic-content
  margin-right: 2rem
  min-width: 40%

#description-line
  display: flex
  align-items: center

#done-all-button
  margin-left: 1rem

.parent-title
  padding: 0
  margin: 0
