#knowledge-nodes-actions
  display: flex
  margin-left: 7rem
  margin-bottom: 1rem

#knowledge-nodes-table
  margin-left: 4rem
  margin-bottom: 2rem

.row-link
  cursor: pointer

.mat-column-select
  width: 2rem

.mat-column-position
  padding-right: 1rem

#knowledge-nodes-title
  padding-right: 1rem
  margin-top: 0
  color: #6497b1

#add-knowledge-node-button
  margin-right: 1rem

.mat-row, .table-row
  height: 2rem !important
  //min-height: 1rem !important
