#description-line
  display: flex
  align-items: center
  gap: 1rem

#full-description-title
  font-size: 1.25rem

#state-meta
  margin: 1rem 0

#child-states-section,
#requirements-section
  margin-top: 1rem
