.progresses-header
  display: flex
  align-items: center
  margin-bottom: 0.75rem

.progresses-title
  font-size: 1.25rem
  font-weight: 500

.add-progress-button
  margin-left: 1rem

.progresses-table
  width: 100%
  max-width: 64rem
