<div id="content-wrapper" *ngIf="knowledge">
  <div id="knowledge-content">
    <div class="flex-container" id="description-line">
      <app-task-container-description (goToParent)="onGoToNearestParent()"
                                      [showDoneAll]="false"
                                      [taskContainer]="knowledge">
      </app-task-container-description>
      <button id="save-icon"  mat-mini-fab color="primary" [disabled]="isSaveIconDisabled()"
              (click)="updateKnowledgeValue()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div id="knowledge-value">
      <mat-form-field appearance="fill" id="extension-form-field">
        <mat-label>Extension</mat-label>
        <input matInput [ngModel]="knowledge.extension" #extensionInput
               (focusout)="updateKnowledgeExtension($event)">
      </mat-form-field>
      <div>
        <textarea class="form-control textarea-value" *ngIf="editValue"
                  (focusout)="updateKnowledgeValue()" id="knowledge-textarea"
                  name="valueTextArea" #valueTextArea='ngModel'
                  #valueText [ngModel]="knowledge.value"></textarea>

      </div>
      <ng-container *ngIf="!editValue">
        <pre *ngIf="knowledge.extension">
          <code *ngIf="showTextArea" class="textarea-value" [highlight]="knowledge.value"
                [languages]="[knowledge.extension]" (click)="toggleEditValue()"></code>
        </pre>

        <div *ngIf="!knowledge.extension" class="textarea-value" id="value-wrapper" (click)="toggleEditValue()">
          {{knowledge.value}}
        </div>
      </ng-container>
    </div>
  </div>
  <div id="right-column">
    <app-parents-path [parentsPath]="parentsPath"
                      (onParentClick)="goToParentHandler($event)">

    </app-parents-path>
  </div>
</div>
