#content-wrapper
  margin-top: 1rem
  width: 100%

.description-wrapper
  display: flex
  justify-content: center

#description-line
  display: flex
  align-items: baseline

#full-description-title
  margin-left: 1rem
  margin-bottom: 0 !important
  font-size: 28px
  font-weight: 700

#more-icon
  margin-left: 1rem

#go-to-parent-button
  margin-left: 2rem

#long-task-meta
  margin: 1rem 2rem 1rem 4rem

#long-task-notes
  margin-top: 0.5rem
  white-space: pre-wrap

#submissions-section
  margin: 1rem 2rem 1rem 4rem

.submissions-table
  width: 100%
  max-width: 40rem
