<div id="content-wrapper" *ngIf="knowledgeNode">
  <div id="knowledge-node-content">
    <div class="flex-center-container" id="description-line">
      <app-task-container-description (goToParent)="onGoToNearestParent()"
                                      [showDoneAll]="false"
                                      [taskContainer]="knowledgeNode">
      </app-task-container-description>
      <button id="more-icon" [matMenuTriggerFor]="menu" mat-mini-fab color="accent"
              *ngIf="knowledgeNode?.getFullDescription()">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="addSubtask()">Add a new task</button>
        <button mat-menu-item (click)="addQuestion()">Add a new question</button>
<!--        <button mat-menu-item (click)="addProblem()">Add a new problem</button>-->
        <button mat-menu-item (click)="addDefinition()">Add a new definition</button>
        <button mat-menu-item (click)="addAction()">Add a new action</button>
        <button mat-menu-item (click)="addKnowledge()">Add a new knowledge</button>
        <button mat-menu-item (click)="addKnowledgeNode()">Add a new knowledge node</button>
      </mat-menu>
    </div>
    <div>
      <app-knowledge-subnodes
        [knowledgeNodes]="subnodes"
        (refreshKnowledgeNodes)="refreshKnowledgeNodes()"
        (deleteKnowledgeNode)="deleteKnowledgeNode($event)"
        (addKnowledgeNode)="addKnowledgeNode()">
      </app-knowledge-subnodes>
      <app-subtasks
        (refreshSubtasks)="refreshSubtasks()"
        (addSubtask)="addSubtask()"
        (onSubtaskDoneClick)="onSubtaskDoneClick($event)"
        [subtasks]="subtasks">
      </app-subtasks>
      <app-subquestions
                        (refreshQuestions)="refreshQuestions()"
                        (addQuestion)="addQuestion()"
                        (answerTheQuestion)="answerTheQuestion($event)"
                        [questions]="questions">
      </app-subquestions>
    </div>
  </div>
  <div id="right-column">
    <app-parents-path [parentsPath]="parentsPath"
                      (onParentClick)="goToParentHandler($event)">

    </app-parents-path>
    <app-subdefinitions [definitions]="definitions"
                        (addDefinition)="addDefinition()"
                        (refreshDefinitions)="refreshDefinitions()">
    </app-subdefinitions>
    <app-subactions [actions]="actions"
                    (addAction)="addAction()"
                    (refreshActions)="refreshActions()">
    </app-subactions>
    <app-subknowledge [knowledgeBits]="knowledgeBits"
                      (addKnowledge)="addKnowledge()"
                      (refreshKnowledge)="refreshKnowledgeBits()">
    </app-subknowledge>
  </div>
</div>


<!--<div *ngIf="knowledgeNode">-->
<!--{{knowledgeNode._id}} {{knowledgeNode.name}}-->

<!--<div *ngFor="let node of knowledgeNode.children">-->
<!--  {{node.name}}-->
<!--</div>-->
<!--</div>-->
