<div id="content-wrapper" *ngIf="action">
  <div id="action-content">
    <div class="flex-container" id="description-line">
      <app-task-container-description (goToParent)="onGoToNearestParent()"
                                      [showDoneAll]="false"
                                      [taskContainer]="action">
      </app-task-container-description>
      <button id="save-icon"  mat-mini-fab color="primary" [disabled]="isSaveIconDisabled()"
        (click)="updateActionValue()">
        <mat-icon>save</mat-icon>
      </button>
    </div>
    <div id="action-value">
      <mat-form-field appearance="fill" id="extension-form-field">
        <mat-label>Extension</mat-label>
        <input matInput [ngModel]="action.extension" #extensionInput
               (focusout)="updateActionExtension($event)">
      </mat-form-field>
      <div>
        <textarea class="form-control textarea-value" *ngIf="editValue"
                  (focusout)="updateActionValue()" id="action-textarea"
                  #valueText [ngModel]="action.value"
                  name="valueTextArea" #valueTextArea='ngModel'></textarea>
      </div>
      <ng-container *ngIf="!editValue">
        <pre *ngIf="action.extension">
<!--          showTextArea is needed to automatically reload extension after changes in the input -->
          <code *ngIf="showTextArea" class="textarea-value" [highlight]="action.value"
                   [languages]="[action.extension]" (click)="toggleEditValue()"></code>
        </pre>

        <div *ngIf="!action.extension" class="textarea-value" id="value-wrapper" (click)="toggleEditValue()">
          {{action.value}}
        </div>
      </ng-container>
    </div>
  </div>
  <div id="right-column">
    <app-parents-path [parentsPath]="parentsPath"
                      (onParentClick)="goToParentHandler($event)">

    </app-parents-path>
  </div>
</div>
