#content-wrapper
  display: flex
  flex-flow: row nowrap
  margin-top: 1rem

  #action-content
    margin-right: 2rem
    width: calc(100% - 25rem)

    #description-line
      margin-bottom: 2rem

      #save-icon
        margin-left: 2rem

    #action-value
      margin-top: 1rem
      margin-left: 5rem

      #value-wrapper
        border: 1px solid red
        padding: 5px
        white-space: pre-wrap

      #extension-form-field
        width: 10rem


.textarea-value
  //width: 70rem
  width: min(70rem, calc(100% - 5rem))
  height: 30rem
  font-size: 16px
  //font-style: normal
  //font-variant-ligatures: normal
  //font-variant-caps: normal
  //font-variant-numeric: normal
  //font-variant-east-asian: normal
  //font-weight: 400
  //font-stretch: normal
  ////font-size: 14px
  //line-height: 20px
  font-family: Roboto, "Helvetica Neue", sans-serif


