.value-item {
  cursor: pointer;

  &:not(last-child) {
    margin-bottom: 1rem
  }
}

#items-wrapper {
  margin-top: 2rem;
  margin-left: 1rem;
}


.selected-item {
  border: 2px solid gold;
}
