<mat-sidenav-container class="app-sidenav-container" dir="ltr">
  <mat-sidenav #sidenav class="app-sidenav mat-elevation-z10"
    [mode]="'over'"
  >

    <mat-toolbar color="primary">Menu</mat-toolbar>
    <mat-nav-list>
      <mat-list-item>
        <button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Epics</button>
      </mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Stories</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Scheduled tasks</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Tasks</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Questions</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Problems</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Logs</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Definitions</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Actions</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Knowledge Bits</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Knowledge Tree</button></mat-list-item>
      <mat-list-item><button type="button" matLine class="sidenav-nav-link" (click)="closeSidenav()">Learning</button></mat-list-item>
    </mat-nav-list>
  </mat-sidenav>


  <div class="app-sidenav-content">
    <app-toolbar (toggleSidenav)="sidenav.toggle()" />

    <div class="wrapper">
      <router-outlet></router-outlet>
      <br>
    </div>
  </div>
</mat-sidenav-container>
