<ng-container *ngIf="epics">

    <div id="subepics-actions">
      <h2 id="subepics-title">Epics</h2>

    </div>

  <div id="table-wrapper">
    <table id="subepics-table" *ngIf="epics && epics.length > 0" mat-table [dataSource]="dataSource"
           class="mat-elevation-z8">

      <ng-container matColumnDef="select">
        <th mat-header-cell *matHeaderCellDef>
          <mat-checkbox (change)="$event ? epicsSelectAllToggle() : null"
                        [checked]="selection.hasValue() && isAllSelected()"
                        [indeterminate]="selection.hasValue() && !isAllSelected()"
                        >
          </mat-checkbox>
        </th>
        <td mat-cell *matCellDef="let row">
          <mat-checkbox (click)="$event.stopPropagation()"
                        (change)="$event ? selection.toggle(row) : null"
                        [checked]="selection.isSelected(row)">
          </mat-checkbox>
        </td>
      </ng-container>

      <!-- Position Column -->
      <ng-container matColumnDef="position">
        <th mat-header-cell *matHeaderCellDef> No.</th>
        <td mat-cell class="row-link" (click)="onSubepicClick(epic)" *matCellDef="let epic; let i = index">
          <span>{{i + 1}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef> Description</th>
        <td mat-cell *matCellDef="let epic;" (click)="onSubepicClick(epic)">
          <span class="row-link" (click)="onSubepicClick(epic)">{{epic.description}}</span>
        </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> Actions</th>
        <td mat-cell *matCellDef="let epic; let i=index" id="row-{{i}}">
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator

      [pageSizeOptions]="[10, 15, 20]"
      showFirstLastButtons
      aria-label="Select page of periodic elements">
    </mat-paginator>

  </div>
  </ng-container>

