\:host
  margin-bottom: 1rem

#subepics-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

#subepics-table
  margin-left: 2rem
  margin-bottom: 2rem

.row-link
  cursor: pointer

.mat-column-select
  width: 2rem

.mat-column-position
  padding-right: 1rem

.mat-column-actions
  padding-left: 2rem

#subepics-title
  padding-right: 1rem

#add-epic-button
  margin-right: 1rem

.mat-row, .table-row
  height: .5rem !important
  min-height: .5rem !important

#done-all-epics-button
  margin-left: 2rem

.mat-row, .table-row
  height: 2rem !important
