#parents-path-container
  padding-bottom: 2rem

.mat-column-select
  width: 2rem

.mat-column-position
  padding-right: 1rem

.mat-column-actions
  padding-left: 2rem

.row-link
  cursor: pointer

section
  display: table

#select-row
  width: 10rem

#subtasks-table
  margin-left: 2rem

#full-description-title
  margin-left: 2rem
  margin-bottom: 0 !important

#subtasks-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

  #subtasks-title
    padding-right: 1rem

    #add-task-button
      margin-right: 1rem

.mat-row, .table-row
  height: .5rem !important
  min-height: .5rem !important

#done-all-tasks-button
  margin-left: 2rem

#content-wrapper
  display: flex
  flex-flow: row nowrap
  margin-top: 1rem

#task-content
  margin-right: 2rem

#description-line
  display: flex
  align-items: center

#done-all-button
  margin-left: 1rem

#bottom-button
  position: fixed
  bottom: 30px
  right: 30px

.parent-title
  padding: 0
  margin: 0
