#parents-path-container
  padding-bottom: 2rem

#full-description-title
  margin-left: 2rem
  margin-bottom: 0 !important

#content-wrapper
  display: flex
  flex-flow: row nowrap
  margin-top: 1rem

#task-content
  margin-right: 2rem

#description-line
  display: flex
  align-items: center

#done-all-button
  margin-left: 1rem

#bottom-button
  position: fixed
  bottom: 30px
  right: 30px

.parent-title
  padding: 0
  margin: 0
