

#parents-path-container
  padding-bottom: 2rem

.mat-column-select
  width: 2rem

.mat-column-position
  //width: 2rem
  padding-right: 1rem

.mat-column-actions
  padding-left: 2rem

.row-link
  cursor: pointer

section
  display: table

#select-row
  width: 10rem

#subtasks-table
  margin-left: 2rem

#full-description-title
  margin-left: 2rem

#subtasks-actions
  display: flex
  margin-left: 3.5rem
  margin-bottom: 1rem

//$iconWidth: 24px
//
//.tasks-icon
//  height: $iconWidth !important
//  width: $iconWidth !important
//  font-size: $iconWidth !important
//



