<div id="content-wrapper">
  <div id="task-content">
    <div id="description-line">
      <h1 id="full-description-title">{{task?.getFullDescription()}}</h1>
      <button id="done-all-button" *ngIf="task?.getFullDescription()"
              mat-mini-fab color="accent" (click)="onDoneAllClick()">
        <mat-icon>done_all</mat-icon>
      </button>
    </div>
    <br>


    <app-subtasks (refreshSubtasks)="refreshSubtasks()"
                  (addSubtask)="addSubtask()"
                  (onSubtaskDoneClick)="onSubtaskDoneClick($event)"
                  [subtasks]="subtasks"></app-subtasks>

  </div>
  <div id="parents-path-container">
    <div class="parent-node" *ngFor="let node of parentsPath?.slice(0, -1)"
         [ngStyle]="{'padding-left': (parentsPath.indexOf(node)) * .5 + 'rem'}">
      <h4 class="parent-title"><span style="cursor: pointer"
                                               (click)="onParentClick(node)">{{node}} {{parentsPath.indexOf(node)}}</span>
      </h4>
    </div>
  </div>
</div>


<button mat-mini-fab color="primary" (click)="onDownClick()" id="bottom-button">
  <mat-icon class="tasks-icon">south</mat-icon>
</button>
