<div id="content-wrapper">
  <div id="task-content">
    <div id="description-line">
      <h1 id="full-description-title">{{task?.getFullDescription()}}</h1>
      <button id="done-all-button" *ngIf="task?.getFullDescription()"
              mat-mini-fab color="accent" (click)="onDoneAllClick()">
        <mat-icon>done_all</mat-icon>
      </button>
    </div>
    <br>


    <app-subtasks (refreshSubtasks)="refreshSubtasks()"
                  (addSubtask)="addSubtask()"
                  (onSubtaskDoneClick)="onSubtaskDoneClick($event)"
                  [subtasks]="subtasks"></app-subtasks>

  </div>
  <app-parents-path [parentsPath]="parentsPath"
                    (onParentClick)="onParentClick($event)"
  ></app-parents-path>
</div>


<button mat-mini-fab color="primary" (click)="onDownClick()" id="bottom-button">
  <mat-icon class="tasks-icon">south</mat-icon>
</button>
