<form autocomplete="on" [formGroup]="myForm" (ngSubmit)="onSubmit()" >

  <mat-form-field appearance="fill" id="description-input">
    <mat-label>Description</mat-label>
    <input  matInput formControlName="description">
  </mat-form-field>

  <mat-form-field  appearance="fill" style="width: 40rem">
    <mat-label>Notes</mat-label>
    <textarea matInput formControlName="notes"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  <mat-checkbox formControlName="markSelected">Mark selected</mat-checkbox>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
    <button mat-button type="submit" [disabled]="!myForm.valid">Ok</button>
  </div>

</form>

