<form autocomplete="on" [formGroup]="myForm" (ngSubmit)="onSubmit()" >

  <mat-form-field appearance="fill" id="description-input">
    <mat-label>Description</mat-label>
    <input  matInput formControlName="description">
  </mat-form-field>

  <mat-form-field  appearance="fill" style="width: 40rem">
    <mat-label>Notes</mat-label>
    <textarea matInput formControlName="notes"
              cdkTextareaAutosize
              #autosize="cdkTextareaAutosize"
              cdkAutosizeMinRows="5"
              cdkAutosizeMaxRows="5"></textarea>
  </mat-form-field>

  @if (showDueDate()) {
    <div class="due-date-row">
      <mat-form-field appearance="fill">
        <mat-label>Due date</mat-label>
        <input matInput type="date" formControlName="dueDate">
      </mat-form-field>
      <button
        mat-mini-fab
        type="button"
        color="basic"
        class="clear-due-date-button"
        (click)="clearDueDateField()"
        aria-label="Remove due date"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
  } @else {
    <button
      mat-mini-fab
      type="button"
      color="primary"
      class="add-due-date-button"
      (click)="showDueDateField()"
      aria-label="Add due date"
    >
      <mat-icon>event</mat-icon>
    </button>
  }

  <mat-checkbox formControlName="markSelected">Mark selected</mat-checkbox>
  <mat-checkbox formControlName="afterTask">After task</mat-checkbox>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
    <button mat-button type="submit" [disabled]="!myForm.valid">Ok</button>
  </div>

</form>
