@if (knowledgeBitForView(); as knowledgeBit) {
  <div class="knowledge-bit-value-block">{{ knowledgeBit.value }}</div>
  <app-task-container-signal
    [taskContainer]="knowledgeBit"
    (refreshContainer)="reloadKnowledgeBit()"
    (updateTaskContainer)="updateKnowledgeBit()"
    [showQuestions]="true"
    [showProblems]="true"
    [showStories]="true"
    [showEpics]="true"
    [showKnowledgeNodes]="true"
    [showDefinitions]="true"
    [showKnowledgeBits]="true"
  ></app-task-container-signal>
}
