.record-item
  margin-bottom: 2rem
  //border: 1px solid red
  background: gray
  border-radius: 2px
  width: 50%
  display: flex
  flex-flow: column

.record-message
  margin-left: 1rem
  white-space: pre-wrap

.record-date
  //float: right
  align-self: flex-end
  opacity: .5

#record-filter-options
  //flex-grow: 1
  margin-bottom: 2rem
  width: 15rem // find out why it grows

\:host
  //display: flex
  //height: 100%

.main-container
  width: 100%
  //flex-grow: 1
  //display: flex
  //flex-flow: column
//  border: 1px solid green
//  display: flex
//  height: 100%
//  flex-flow: column
//.list-part
//  flex-grow: 1


//.custom-dialog-container .mat-dialog-container
//  overflow: hidden !important

.options-paginator-container
  display: flex
  justify-content: space-between
