<form autocomplete="on"
      [formGroup]="myForm" (ngSubmit)="onSubmit()" >
  <mat-form-field appearance="fill" id="value-field"
                  [ngStyle]="data.inputWidth && {'width': data.inputWidth}">
    <mat-label>{{data.title}}</mat-label>
    <input id="value-input"   matInput formControlName="valueField">
  </mat-form-field>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
    <button mat-button type="submit" [disabled]="!myForm.valid">Ok</button>
  </div>
</form>
