<form autocomplete="on"
      [formGroup]="myForm" (ngSubmit)="onSubmit()" >
  <div *ngIf="!data.multiline; else multiline">
    <mat-form-field
      appearance="fill"
      id="value-field"
      [ngStyle]="getDataInputWidthStyle"
    >
      <mat-label>{{data.title}}</mat-label>
      <input id="value-input"   matInput formControlName="valueField">
    </mat-form-field>
  </div>

  <ng-template #multiline>
    <mat-form-field appearance="fill" style="width: 40rem">
      <mat-label>{{data.title}}</mat-label>
      <textarea matInput formControlName="valueField"
                cdkTextareaAutosize
                #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="5"
                cdkAutosizeMaxRows="5"></textarea>
    </mat-form-field>
  </ng-template>

  <div mat-dialog-actions>
    <button mat-button type="button" (click)="onNoClick()">No Thanks</button>
    <button mat-button type="submit" [disabled]="!myForm.valid">Ok</button>
  </div>
</form>
