<mat-spinner *ngIf="isLoading"></mat-spinner>
<ng-container *ngIf="!isLoading">
  <app-task-container
    [taskContainer]="question"
    [parentsPath]="parentsPath"
    (onDoneAllClick)="onDoneAllClick()"
    (updateTaskContainer)="updateQuestion()"
    (refreshTaskContainer)="refreshQuestion()"
    [refreshTasks$]="refreshSubtasks$"
    [refreshProblems$]="refreshProblemsList$"
    [refreshQuestions$]="refreshQuestionsList$"
    (resolve)="onDoneAllClick()"
  >
</app-task-container>
</ng-container>
