#table-wrapper
    max-width: 30rem
    width: 30rem

.mat-mdc-row, .mat-mdc-header-row 
  display: table-row


.mat-mdc-cell, .mat-mdc-header-cell 
  display: table-cell
  white-space: nowrap
  padding: 0 16px


table 
  width: auto
  max-width: 600px
  margin: 0 auto
