.checks-header
  display: flex
  align-items: center
  margin-top: 1rem
  margin-bottom: 0.5rem

.checks-title
  font-size: 1.25rem

.add-check-button
  margin-left: 1rem

.checks-table
  max-width: 30rem
